.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
yarn.lock
package-lock.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.tsbuildinfo
node_modules/**
.eslintrc.json
**/.eslintignore
**/_eslintignore
**/eslint.config.js
**/*.vsix
debug*.js
undefinedwebview/**
esbuild.js